# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: kube-prometheus-stack
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    fullnameOverride: kube-prometheus-stack
    prometheus:
      prometheusSpec:
        scrapeInterval: 30s
        retention: 30d
        serviceMonitorSelectorNilUsesHelmValues: false
        podMonitorSelectorNilUsesHelmValues: false
        ruleSelectorNilUsesHelmValues: false
        storageSpec:
          volumeClaimTemplate:
            spec:
              accessModes: ["ReadWriteOnce"]
              storageClassName: node-local
              resources:
                requests:
                  storage: 30Gi
    grafana:
      enabled: true
      admin:
        existingSecret: grafana-admin-creds
        userKey: username
        passwordKey: password
      sidecar:
        dashboards:
          enabled: true
          searchNamespace: ALL
      additionalDataSources:
        - name: Loki
          type: loki
          url: http://loki.observability.svc.cluster.local:3100
          access: proxy
          isDefault: false
    alertmanager:
      enabled: true
      alertmanagerSpec:
        secrets:
          - alertmanager-slack-webhook
      config:
        global:
          slack_api_url_file: /etc/alertmanager/secrets/alertmanager-slack-webhook/webhook-url
        route:
          receiver: slack
          group_wait: 30s
          group_interval: 5m
          repeat_interval: 4h
        receivers:
          - name: slack
            slack_configs:
              - channel: "#alerts"
                send_resolved: true
                title: '{{ .GroupLabels.alertname }}'
                text: '{{ range .Alerts }}{{ .Annotations.description }}{{ end }}'
    nodeExporter:
      enabled: true
    kubeStateMetrics:
      enabled: true
