fullnameOverride: k8s-gateway
domain: "${SECRET_DOMAIN}"
ttl: 1
service:
  type: LoadBalancer
  port: 53
  annotations:
    lbipam.cilium.io/ips: "#{ cluster_dns_gateway_addr }#"
  externalTrafficPolicy: Cluster
watchedResources: ["HTTPRoute", "Service"]
