# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/core/namespace_v1.json
apiVersion: v1
kind: Namespace
metadata:
  name: observability
  annotations:
    kustomize.toolkit.fluxcd.io/prune: disabled
