apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: oauth-pages
  namespace: default
spec:
  parentRefs:
    - name: envoy-oauth-external
      namespace: network
    - name: envoy-oauth-internal
      namespace: network
  rules:
    - matches:
        - path:
            type: Exact
            value: /denied
      backendRefs:
        - name: oauth-pages
          port: 80
    - matches:
        - path:
            type: Exact
            value: /logged-out
      backendRefs:
        - name: oauth-pages
          port: 80
