---
name: Release
on:
  workflow_dispatch:
jobs:
  release:
    name: Release
    if: github.repository_owner == 'juftin'
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      - name: Check out the repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 2
      - name: Semantic Release
        uses: juftin/actions/semantic-release@5a54b64fe07d8de40f92676cae6b56c565ec28b2 # v1.4.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
