# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: renovate
on:
  workflow_dispatch:
  schedule:
    - cron: "0/15 * * * *"
  push:
    paths:
      - .github/workflows/renovate.yaml
      - .github/renovate-config.js
      - .renovaterc.json5
    branches:
      - main
jobs:
  renovate:
    name: renovate
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}
      cancel-in-progress: false
    steps:
      - name: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          ref: main
      - name: renovate
        uses: renovatebot/github-action@8d75b92f43899d483728e9a8a7fd44238020f6e6 # v46.1.2
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
          configurationFile: .github/renovate-config.js
          renovate-version: 43.29.2
        env:
          RENOVATE_REPOSITORY: ${{ github.repository }}
          RENOVATE_DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          RENOVATE_DOCKER_PASSWORD: ${{ secrets.DOCKER_TOKEN }}
          LOG_LEVEL: info
